.custom-input-switch {
  display: flex;
  justify-content: flex-start;

  label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin: 0.375em 20px 0.375em 0px;
    font-size: 0.85rem;

    input {
      position: absolute;
      left: -9999px;

      &:checked + span {
        background-color: #39b54a;
        color: white;

        &:before {
          box-shadow: inset 0 0 0 0.2em #fff;
          background-color: #39b54a;
        }
      }
    }

    span {
      display: flex;
      align-items: center;
      font-weight: bold;
      padding: 0.375em 1em 0.375em 1em;
      border-radius: 99em;
      transition: 0.25s ease;
      color: #5e5e5e;

      &:hover {
        background-color: #d6d6e5;
        color: #222;

        &:before {
          box-shadow: inset 0 0 0 0.125em #222;
        }
      }

      &:before {
        display: flex;
        flex-shrink: 0;
        content: "";
        background-color: #fff;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        margin-right: 0.375em;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 0.125em #222;
      }
    }
  }
}
